{% extends "pybo/base.html" %}
{% load static %}
<body id="page-top">
    {% block content %}
    <div class = "container">
        <p style="color : #60584c; width: 20%; margin-top: 1%; float : right;">{{ created_time }}</p>
    </div>
    <div class="container px-4 px-lg-5 h-100" style="margin-top : 5.5rem; padding-top : 3.5rem">
        {% autoescape off %}
        {{ fig_div }}
        {% endautoescape %}
        <img src="https://postfiles.pstatic.net/MjAyMjEwMTdfMTA5/MDAxNjY1OTkyMzk4NzQ3.C3OGTkrIwUZJ0-AkCmIParlPuvBc3sWToTPVZW9Inysg.tWV6v1WpDDBtQ7gBdrg5GVYMRG8SDYx_kklHQvthXokg.PNG.rain2473/%EC%83%89%EC%83%81.png?type=w773" style="float: right;  width:600;" alt="색상표">
        <a href="{% url 'pybo:KospiMarketMap_new' %}" class="btn btn-primary btn-xl" style="padding: 0.5rem 1rem; font-size: 1.2rem; color : #60584C; width: 20%; margin-top: 1%;">새로고침</a>
    </div>
    {% endblock content %}
</body>