{% extends 'pybo/base.html' %}
{% load static %}

{% block content %}
<div class="container px-4 px-lg-5 h-100" style="margin-top: 5.5rem">
    <div class="container my_border pt-5">
        <h1 style="text-align:center;color:#60584c;" class="font-weight-bold">{{stock_name}}</h1>
        <hr class="divider" />
    </div>
    <div style="padding:3rem; overflow-y:scroll; height: 70%;" class="row">
        <div class="align-self-baseline align-items-justify">
            <table style= "width:100%">
                {% for result in result_dict %}
                    {% if result.determinant == '호재' %}
                        <tr class="text-white-75" style="font-size: 25px; height: 80px;" >
                            <td class="col-8" style="text-align: center; color:#60584c;">{{ result.headline }}</td>
                            <td class="determinant col-2" style="text-align: center; color:#da1313;">{{ result.determinant }}</td>
                            <td class="col-2" style="text-align: center; color:#60584c;">{{ result.sentiment }}%</td>
                        </tr>
                    {% elif result.determinant == '악재' %}
                        <tr class="text-white-75" style="font-size: 25px; height: 80px;" >
                            <td class="col-8" style="text-align: center; color:#60584c;">{{ result.headline }}</td>
                            <td class="determinant col-2" style="text-align: center; color:#0f1e8e;">{{ result.determinant }}</td>
                            <td class="col-2" style="text-align: center; color:#60584c;">{{ result.sentiment }}%</td>
                        </tr>
                    {% else %}
                        <tr class="text-white-75" style="font-size: 25px; height: 80px;" >
                            <td class="col-8" style="text-align: center; color:#60584c;">{{ result.headline }}</td>
                            <td class="determinant col-2" style="text-align: center; color:#60584c;">{{ result.determinant }}</td>
                            <td class="col-2" style="text-align: center; color:#60584c;">{{ result.sentiment }}%</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>       
        </div>
    </div>
</div>
{% endblock content %}