{% extends 'pybo/base.html' %}
{% load static %}
<body id="page-top">
    {% block content %}

    <link href="/static/css/rollingbanner-js.css" rel="stylesheet" type="text/css">
    <div style="position:fixed; margin-top : 5.5rem" class="rollingbanner">
        <div class="wrap">
            <div class="roller original" id="roller1" style="left: -313px;">
                <ul>
                    {% include "pybo/rolling_bar.html" %}
                </ul>
            </div>
        </div>
    </div>
<div class="container px-4 px-lg-5 h-100">
    <!-- 수정-->
    
    <script>
        //롤링 배너 복제본 생성
        let roller = document.querySelector('.roller');
        roller.id = 'roller1';

        let clone = roller.cloneNode(true);
        clone.id = 'roller2';
        document.querySelector('.wrap').appendChild(clone); //부착

        //원본, 복제본 배너 위치 지정
        document.querySelector('#roller1').style.left = '0px';
        document.querySelector('#roller2').style.left = document.querySelector('.roller ul').offsetWidth+'px';

        //클래스 할당
        roller.classList.add('original');
        clone.classList.add('clone');
        let rollerWidth = document.querySelector('.roller ul').offsetWidth;//회전 배너 너비값
        let betweenDistance = 1;//이동 크기 - 정수여야 함
        originalID = window.setInterval(betweenRollCallback, parseInt(1000/100), betweenDistance, document.querySelector('#roller1'));
        cloneID = window.setInterval(betweenRollCallback, parseInt(1000/100), betweenDistance, document.querySelector('#roller2'));

        //인터벌 애니메이션 함수(공용)
        function betweenRollCallback(d, roller){
            let left = parseInt(roller.style.left);
            roller.style.left = (left - d)+'px';//이동
            //조건부 위치 리셋
            if(rollerWidth + (left - d) <= 0){
                roller.style.left = rollerWidth+'px';
            }
        }
    </script>
    <!-- 수정-->

    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-8 align-self-end" style="margin-top : 5.5rem">
            <h1 class="text-white font-weight-bold">
                <img src="https://postfiles.pstatic.net/MjAyMjEwMTJfMTI1/MDAxNjY1NTQxMTQ0NTk3.lU1WfCvcDMH5vTn91vpC_ql3svvQzSGpw5P-A62Rb1Yg.Kkr33sODvz1jx8lN521XkL5YGUCPw9W6ZUKxsjMNpSYg.PNG.rain2473/%EA%B5%AD%EB%AF%BC%EC%83%81%EC%82%AC_%EC%9B%90%EB%B3%B8.png?type=w773" width="540" style="margin-top : 5rem;" alt="국민상사"></h1>
        </div>
            {% include "pybo/mapbox.html" %}
    </div>
</div>
    {% endblock content %}
</body>