{% extends 'pybo/base.html' %}
{% load static %}

{% block content %}
<div class="container px-4 px-lg-5 h-100" style="margin-top: 3rem">
    <div class="row gx-4 gx-lg-5 h-100 justify-content-center text-center">
        <div class="col-lg-8 align-self-end">
            <h1 class="font-weight-bold" style="color: #60584c;">마이페이지</h1>
            <hr class="divider" />
        </div>
        {% if stock_list %}
        <div style="margin-top: 1%">
            <table style="width: 70%; margin-left: auto; margin-right: auto; ">
                <style>
                    th, td {
                        border: 1px solid #d9d9d9;
                        padding: 10px;
                    }
                </style>
                <thead>
                    <tr>
                        <th style="font-size: 1.2rem; color : #FFBC00; background-color : #60584c">종목</th>
                        <th style="font-size: 1.2rem; color : #FFBC00; background-color : #60584c">현재가</th>
                        <th style="font-size: 1.2rem; color : #FFBC00; background-color : #60584c">평단가</th>
                        <th style="font-size: 1.2rem; color : #FFBC00; background-color : #60584c">수량</th>
                        <th style="font-size: 1.2rem; color : #FFBC00; background-color : #60584c">매수날짜</th>
                        <th style="font-size: 1.2rem; color : #FFBC00; background-color : #60584c">수정</th>
                        <th style="font-size: 1.2rem; color : #FFBC00; background-color : #60584c">삭제</th>    
                    </tr>    
                </thead>
                
                {% for stock in stock_list %}
                <tr>
                    <td style="font-size: 1.2rem; color : #d9d9d9; background-color : #60584c">{{ stock.subject }}</td>
                    <td style="font-size: 1.2rem; color : #d9d9d9; background-color : #60584c">{{ stock.now_price }}
                    </td>
                    <td style="font-size: 1.2rem; color : #d9d9d9; background-color : #60584c">{{ stock.avg_price }}
                    </td>
                    <td style="font-size: 1.2rem; color : #d9d9d9; background-color : #60584c">{{ stock.quantity }}</td>
                    <td style="font-size: 1.2rem; color : #d9d9d9; background-color : #60584c">{{ stock.create_date | date:'Y-m-d' }}
                    </td>
                    <td style="font-size: 1.2rem; color : #60584c; background-color : #60584c">
                        <!-- <input type="button" value="수정"> -->
                        <a href="{% url 'pybo:stock_modify' stock.id %}" class="btn btn-primary">수정</a>
                    </td>
                    <td style="font-size: 1.2rem; color : #60584c; background-color : #60584c">
                        <!-- <input type="button" value="삭제"> -->
                        <a href="#" class="delete btn btn-primary" data-uri="{% url 'pybo:stock_delete' stock.id %}">삭제</a>

                    </td>   
                </tr>
                {% endfor %}
            </table>    
        
        {% else %}
            <p>No item</p>
        {% endif %}
        <a href="{% url 'pybo:stock_create' %}" class="btn btn-primary btn-xl" style="padding: 0.5rem 1rem; font-size: 1.2rem; height: 40px; color : #60584C; width: 20%; margin-top: 2%;">종목 추가하기</a>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}