{% extends 'pybo/base.html' %}
{% load static %}

{% block content %}
<div class="container px-4 px-lg-5 h-100" style="margin-top: 3rem">
    <div class="row gx-4 gx-lg-5 h-100 justify-content-center text-center">
        <div class="col-lg-8 align-self-end">
            <h1 class="text-white font-weight-bold">마이페이지</h1>
            <hr class="divider" />
        </div>
        {% if stock_list %}
        <div style="margin-top: 2%">
            <table style="width: 70%; margin-left: auto; margin-right: auto; ">
                <thead>
                    <tr>
                        <th style="font-size: 1.2rem; color : #60584C; background-color : #d9d9d9">종목</th>
                        <th style="font-size: 1.2rem; color : #60584C; background-color : #d9d9d9">현재가</th>
                        <th style="font-size: 1.2rem; color : #60584C; background-color : #d9d9d9">평단가</th>
                        <th style="font-size: 1.2rem; color : #60584C; background-color : #d9d9d9">수량</th>
                        <th style="font-size: 1.2rem; color : #60584C; background-color : #d9d9d9">매수날짜</th>
                        <th style="font-size: 1.2rem; color : #60584C; background-color : #d9d9d9">수정</th>
                        <th style="font-size: 1.2rem; color : #60584C; background-color : #d9d9d9">삭제</th>    
                    </tr>    
                </thead>
                
                {% for stock in stock_list %}
                <tr>
                    <td style="font-size: 1.2rem; color : #60584C; background-color : #d9d9d9">{{ stock.subject }}</td>
                    <td style="font-size: 1.2rem; color : #60584C; background-color : #d9d9d9">{{ stock.now_price }}
                    </td>
                    <td style="font-size: 1.2rem; color : #60584C; background-color : #d9d9d9">{{ stock.avg_price }}
                    </td>
                    <td style="font-size: 1.2rem; color : #60584C; background-color : #d9d9d9">{{ stock.quantity }}</td>
                    <td style="font-size: 1.2rem; color : #60584C; background-color : #d9d9d9">{{ stock.create_date | date:'Y-m-d' }}
                    </td>
                    <td style="font-size: 1.2rem; color : #60584C; background-color : #d9d9d9">
                        <!-- <input type="button" value="수정"> -->
                        <a href="{% url 'pybo:stock_modify' %}" class="btn btn-primary">수정</a>
                    </td>
                    <td style="font-size: 1.2rem; color : #60584C; background-color : #d9d9d9">
                        <!-- <input type="button" value="삭제"> -->
                        <a href="javascript:void(0)" class="btn btn-primary" data-uri="{% url 'pybo:stock_delete' %}">삭제</a>

                    </td>   
                </tr>
                {% endfor %}
            </table>    
        
        {% else %}
            <p>No item</p>
        {% endif %}
        <a href="{% url 'pybo:stock_create' %}" class="btn btn-primary btn-xl" style="padding: 0.5rem 1rem; font-size: 1.2rem; color : #60584C; width: 20%; margin-top: 2%;">종목 추가하기</a>
        </div>
        <!-- <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-xl"
                style="padding: 0.5rem 1rem; font-size: 1.2rem; color : #60584C">저장하기
            </button>
        </form> -->
    </div>
</div>
{% endblock content %}