{% extends 'pybo/base.html' %}
{% load static %}

{% block content %}
<div class="container px-4 px-lg-5 h-100" style="margin-top: 5.5rem">
    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-8 align-self-end">
            <h1 class="text-white font-weight-bold">포트폴리오</h1>
            <hr class="divider" />
        </div>
        <div class="col-lg-8 align-self-baseline" style="width:100%;">
            {% autoescape off %}
            {{ lstm_div }}
            {% endautoescape %}
        </div>
    </div>
</div>
{% endblock content %}